body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.head {
    background-color: #1976d2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.head h1 {
    font-size: 24px;
    margin: 0;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.column {
    width: calc(100% - 30px);
    max-width: 400px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.column h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.task-input {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: grab;
}

.delete-btn {
    float: right;
    cursor: pointer;
}

.add-task-btn {
    background-color: #4caf50;
    padding: 8px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-task-btn {
    background-color: #0b3dd1;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-task-btn {
    background-color: #d10b0b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-task-btn:hover {
    background-color: #45a049;
}

#todo .task-item {
    background-color: #b3e5fc;
}

#in-progress .task-item {
    background-color: #ffcdd2;
}

#done .task-item {
    background-color: #c8e6c9;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-top: 18px;
}

.is-dragging {
    opacity: 0.4;
    transform: scale(0.95);
    cursor: grabbing
}

.tasks-in-btn {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tasks-in-btn .task-input {
    width: 70%;
}

.tasks-in-btn .add-task-btn {
    padding: 10px 16px;
    font-size: 14px;
}

.undo-div {
    padding-left: 40px;
}

.undo-btn {
    background-color: #0f4aed;
    border: 1px solid #ccc;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin: 10px;
}